@{
    ViewBag.Title = "Visitantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visitantes</h2>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Relatório de Branches com Ocorrências</div>
    <div class="panel-body">
        <!-- Table -->
        <table id="tblVisitantes" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-1">Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Empresa</th>
                    <th>Cargo</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">Diego Passos Silva</a></td>
                    <td>325.864.138-22</td>
                    <td>DPC Serviços Ltda ME</td>
                    <td>Gerente de TI</td>
                    <td>(11) 97611-1432</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#">Maycom Zamora</a></td>
                    <td>153.663.258-97</td>
                    <td>Madri Solutions Ltda</td>
                    <td>Empresário</td>
                    <td>(11) 97655-1255</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#">Marcio Moreira</a></td>
                    <td>300.724.226-61</td>
                    <td>Ezetec Construtora ME</td>
                    <td>Corretor de Imóveis</td>
                    <td>(11) 96632-5596</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="#">Marcelo Moreira</a></td>
                    <td>942.316.966-08</td>
                    <td>Emrpesa de Portarias Ltda</td>
                    <td>Gerente de Controle de Acesso</td>
                    <td>(11) 98856-6548</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="#">Bruno Silva</a></td>
                    <td>192.824.646-01</td>
                    <td>Bazar dos Desbravadores</td>
                    <td>Costureira</td>
                    <td>(11) 95568-1254</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><a href="#">Leonardo Fernado Borges</a></td>
                    <td>414.367.567-66</td>
                    <td>Polícia do Estado de São Paulo</td>
                    <td>Guarda</td>
                    <td>(11) 99965-6633</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><a href="#">Cesar Afonso</a></td>
                    <td>261.223.747-09</td>
                    <td>Compania Estadual de Cana de Açucar</td>
                    <td>Cortador de Cana</td>
                    <td>(11) 95562-8547</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><a href="#">Renan Pereira</a></td>
                    <td>045.114.178-49</td>
                    <td>Empresa de Artesanato Indígena</td>
                    <td>Pagé</td>
                    <td>(11) 95562-5489</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><a href="#">Flávio Vieira</a></td>
                    <td>552.363.197-30</td>
                    <td>Banco Não Lembro o Nome</td>
                    <td>Programador de VB</td>
                    <td>(11) 95562-8778</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><a href="#">Wellington Mack</a></td>
                    <td>320.681.436-74</td>
                    <td>Sport Clube Corinthians Paulista</td>
                    <td>Tocedor</td>
                    <td>(11) 93366-1569</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td><a href="#">Vinicius Dalivberto</a></td>
                    <td>167.552.432-72</td>
                    <td>Ordem dos Advogados do Brasil</td>
                    <td>AdEvogado</td>
                    <td>(11) 96689-6587</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblVisitantes').dataTable({
                "oLanguage": {
                    "sInfo": "Total de _TOTAL_ registros encontrados (_START_ à _END_).",
                    "sInfoEmpty": "Nenhum registro encontrado.",
                    "sInfoFiltered": " - filtro de _MAX_ registros.",
                    "sSearch": "Buscar: ",
                    "sZeroRecords": "Nenhum registro encontrado.",
                    "sLengthMenu": "Exibir: _MENU_"
                }
            });           

        });
    </script>
}
