@model Site.Models.Mensagem

<div class="alert @Model.Classe alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>@Model.Titulo</strong> @Model.Texto
</div>
