@{
    ViewBag.Title = "TirarFoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Tirar Foto</h2>
<h4>Foto para o cadastro do Sistema</h4>
<hr />
<div id="divCam" class="row">
    <div class="col-lg-6">
        @*<img src="~/Imagens/webcam-imagem.jpg" class="img-thumbnail" />*@
        <div id="my_camera"></div>
        <div class="col-lg-12 text-center" style="padding-top: 10px">
            <a href="javascript:take_snapshot()" class="btn btn-primary">
                Tirar Foto <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="col-lg-6">
        <img id="results" src="~/Imagens/sem-imagem-homem.jpg" class="img-thumbnail" style="width: 550px; height: 412px" />
        <div class="col-lg-12 text-center" style="padding-top: 10px">
            @Html.ActionLink("Voltar", "Buscar", null, new { @class = "btn btn-primary" })
            <a href="javascript:SalvarFoto()" id="btnSalvarFoto" class="btn btn-success disabled">
                Enviar
            </a>
        </div>
    </div>
</div>

<!-- First, include the Webcam.js JavaScript Library -->
<script src="~/Scripts/webcam.min.js"></script>

<!-- Configure a few settings and attach camera -->
<script language="JavaScript">
    Webcam.set({
        width: 550,
        height: 412,
        dest_width: 550,
        dest_height: 412,
        image_format: 'jpeg',
        jpeg_quality: 100
    });

    Webcam.attach('#my_camera');

    function take_snapshot() {
        Webcam.snap(function (data_uri) {

            $('#results').attr('src', data_uri);
            $('#btnSalvarFoto').removeClass('disabled');
        });
    }

    function SalvarFoto() {

        var data_uri = $('#results').attr('src');

        Webcam.upload(data_uri, '/Visitante/SalvarFoto', function (code, text) {
            if(text == 'True')
                window.location.href = "Buscar";
        });
    }
</script>
